<%inherit file="/base.html"/>
<%block name="content">
    <div class="king-page-box">
        <div class="king-container clearfix">
            <nav class="">
                <div style="overflow:hidden; z-index: inherit;" class="navbar king-horizontal-nav1  f14">
                    <div class="navbar-container">
                        <div class="navbar-header pull-left">
                            <a class="navbar-brand" href="javascript:;">
                                <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo.png" class="logo"> </a>
                        </div>
                        <ul class="nav navbar-nav pull-left m0">
                            <li class="active"><a href="${SITE_URL}GetHostStatus/">首页</a></li>
                            <li><a href="${SITE_URL}GetHostStatus/hoststatus/">主机状态</a></li>
                            <li><a href="${SITE_URL}GetHostStatus/history/">操作记录</a></li>
                        </ul>
                        <div class="navbar-header pull-right">
                            <ul class="nav">
                                <li class="user-info">
                                    <a href="javascript:;">
                                        <img class="img-rounded" src="https://magicbox.bk.tencent.com/static_api/v3/components/horizontal_nav1/images/avatar.png">
                                        <span>admin</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <form class="form-horizontal">
                <div class="king-block-header king-info">
                    <ul class="king-block-options">
                        <li>
                            <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                        </li>
                    </ul>
                    <h3 class="king-block-title"> </h3>
                </div>
                <div class="form-group clearfix ">
                    <label class="col-sm-3 control-label bk-lh30 pt0">业务：</label>
                    <div class="col-sm-9">
                        <select name="" id="biz_id" class="form-control bk-valign-top">

                        </select>
                    </div>
                </div>
                <div class="form-group clearfix ">
                    <label class="col-sm-3 control-label bk-lh30 pt0">IP地址：</label>
                    <div class="col-sm-9">
                        <select name="" id="ip" class="form-control bk-valign-top">
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="button" class="king-btn mr10  king-success" onclick="search(this)">提交</button>
                        <button type="button" class="king-btn king-default ">取消</button>
                    </div>
                </div>
            </form>
            <div class="king-block king-block-bordered king-block-themed mb0">
                <div class="king-block-header king-info">
                    <ul class="king-block-options">
                        <li>
                            <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                        </li>
                    </ul>
                    <h3 class="king-block-title">查询结果</h3>
                </div>
                <div class="king-block-content">
                    <table class="table mb0 pr15 ranger-box2  ">
                        <thead>
                            <tr id="">
                                <th style="width: 70px;">#</th>
                                <th style="width: 15%;">IP</th>
                                <th style="width: 15%;">Mem/Disk/CPU</th>
                                <th style="width: 15%;">最后巡检时间</th>
                                <th style="width: 15%;">大区</th>
                                <th style="width: 15%;">模块</th>
                                <th style="width: 15%;">云区域</th>
                                <th style="width: 10%;">系统类型</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="tbody15381116261452">
                            <tr>

                            </tr>


                        </tbody>
                    </table>
                    <template id="header_tpl_15381116261452">
                        <tr>
                            <th style="width: 70px;">#Hostid#</th>
                            <th style="width: 15%;">#innerip#</th>
                            <th style="width: 15%;">#cpu#</th>
                            <th style="width: 15%;">#date#</th>
                            <th style="width: 15%;">#setname#</th>
                            <th style="width: 15%;">#modulename#</th>
                            <th style="width: 15%;">#setname#</th>
                            <th style="width: 15%;">#region#</th>
                            <th style="width: 15%;">#ostype#</th>
                            <th>操作</th>
                        </tr>
                    </template>
                    <template id="tpl_15381116261452">
                        <tr id=tr+"innerip">
                            <td style="width: 70px;">#host_id#</td>
                            <td id= "innerip" style="width: 15%;">#host_innerip#</td>
                            <td id="cpu" style="width: 15%;" bgcolor="green">#cpu#</td>
                            <td id="date" style="width: 15%;">#date#</td>
                            <td style="width: 10%;">#setname#</td>
                            <td style="width: 10%;">#modulename#</td>
                            <td style="width: 10%;">#region#</td>
                            <td style="width: 15%;">#osname#</td>
                            <td>
                                <button  class="btn btn-xs btn-success" onclick="execute_job(this)" > <i class="glyphicon glyphicon-search"></i> </button>
                                <button id='chenk_cpu_regu' class="btn btn-xs btn-warning" onclick="add_iplist(this)"> <i class="glyphicon glyphicon-plus"></i> </button>
                                <button class="btn btn-xs btn-danger" onclick="remove_iplist(this)"> <i class="glyphicon glyphicon-minus"></i> </button>
                            </td>
                        </tr>
                    </template>
                                <!-- 下拉框模板 -->
                    <template id="app_tpl">
                        <option value="#id#">#name#</option>
                    </template>

                    <template id="ip_tpl">
                        <option value="#ip#">#ip#</option>
                    </template>


                    <!-- 设置面板End -->
                </div>
            </div>
        </div>
    </div>
</%block>
    <script>
    function renderTpl(str, cfg) {
            var re = /(#(.+?)#)/g;

            return str.replace(re, function() {
                var val = cfg[arguments[2]]+'';
                if(typeof val == 'undefined') {
                    val = '';
                }
                return val;
            });
        }

    /*
    * 查询表单级联数据拉取
    */
    function select_ip(biz_id){
        //级联选择ip
        $('#ip').html('');
        $.get('${SITE_URL}GetHostStatus/get_ip_by_bizid/', {'biz_id': biz_id}, function(data){
                if(data.result){
                    var _html = '';
                    var list = data.data;
                    var tpl = $('#ip_tpl').html();
                    for (var i=0,len=list.length; i < len; i++){
                        var item = list[i];
                        _html += renderTpl(tpl, item)
                    }
                    $('#ip').html(_html);
                }else{
                    alert("获取失败")
                }
            }, 'json')
        }

        $(function(){
        /*
        * 查询表单级联数据拉取
        */
        $.get('${SITE_URL}GetHostStatus/get_biz_list/', function(data){
                if(data.result){
                    var _html = '';
                    var list = data.data;
                    var tpl = $('#app_tpl').html();
                    for (var i=0,len=list.length; i < len; i++){
                        var item = list[i];
                        _html += renderTpl(tpl, item)
                    }
                    $('#biz_id').html(_html);

                    var biz_id = $("#biz_id").val();
                    select_ip(biz_id);
                }else{
                    alert("获取失败")
                }
            }, 'json')

        //业务选择下拉绑定change事件
        $("#biz_id").change(function(){
            var biz_id = $("#biz_id").val();
            console.log(biz_id)
            select_ip(biz_id);
        });
    });


    /*
    * 表单查询事件提交，查询主机列表
    */
    function search(obj){
        var biz_id = $('#biz_id').val();
        var ip = $('#ip').val();
        $.post('${SITE_URL}GetHostStatus/get_host/', {'biz_id': biz_id, 'ip': ip}, function(data){
                /*console.log(data);*/
                if(data.result){
                    var list=data.data;

                    var _html = ' ';
                    var tpl = $('#tpl_15381116261452').html();
                    for (var i=0,len=list.length; i < len; i++){
                        var item = list[i];
                        _html += renderTpl(tpl, item);

                    }


                }else{
                    alert("获取失败")
                }
                $('#tbody15381116261452').html(_html);
            });
    }




       /*
    * 表单查询事件提交，获取作业执行结果
    */
    function execute_job(obj){
        var biz_id = $('#biz_id').val();
        var tr=obj.parentElement.parentElement;
        var ip = tr.children[1].innerText;
        $.post('${SITE_URL}GetHostStatus/execute_job/', {'biz_id': biz_id, 'ip': ip, }, function(data){
                console.log(data);
                if(data.result){
                    var job_instance_id = data.data;
                    // 异步请求后台数据
                    get_cpu(job_instance_id, biz_id, ip);
                }else{
                    alert("获取失败")
                }
            }, 'json');
    }

    //获取作业执行结果，渲染表格
    function get_cpu(job_instance_id, biz_id, ip){
        $.ajax({
            url: '${SITE_URL}GetHostStatus/get_cpu/',
            type: 'GET',
            data: {'biz_id': biz_id, 'job_instance_id': job_instance_id, 'ip': ip},
            dataType: 'json',
            success: function(res){
                var _html = ' ';
                var td=$("td:contains(ip)");

                var list = res.data;
                console.log(list);
                console.log(res.message);
                if(list.date){

                    $('td:contains('+ip+')').next().text(list.cpumem);
                    $('td:contains('+ip+')').next().next().text(list.date);





                }else{

                    //作业未执行完，则继续轮询获取执行结果
                    setTimeout(function () {get_cpu(job_instance_id, biz_id, ip)}, 1 * 1000);

                }

            }
        });
    }



    /*
    * 增加定时查询主机列表
    */
    function add_iplist(obj){
        var biz_id = $('#biz_id').val();
        var tr=obj.parentElement.parentElement;
        var ip = tr.children[1].innerText;
        $.post('${SITE_URL}GetHostStatus/add_iplist/', {'biz_id': biz_id, 'ip': ip},function(massage) {

            alert('已成功添加')

        })
    }


        /*
    * 移除定时查询主机列表
    */
    function remove_iplist(obj){
        var biz_id = $('#biz_id').val();
        var tr=obj.parentElement.parentElement;
        var ip = tr.children[1].innerText;
        $.post('${SITE_URL}GetHostStatus/remove_iplist/', {'biz_id': biz_id, 'ip': ip},function(massage) {

            alert('已成功移除')

        })
    }
    </script>
